#modules {
    margin-top: 160px;
    margin-bottom: 140px;

    .details {
        width: 48%;
        float: left;
        padding: 165px 0;
    }

    .module_list {
        position: relative;

        float: right;
        width: 52%;
    }

    .module {
        position: absolute;

        text-align: center;
        color: #FFFFFF;
        
        border-radius: 8px;

        .box_info {
            @include transform(translateY(-50%));

            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            
            i {
                margin-bottom: 10px;

                font-size: 36px;
            }
            
            p {
                margin: 0;

                font-size: 11px;
                line-height: 14px;
                font-weight: 800;
                text-transform: uppercase;
            }
        }

        &.message {
            top: 200px;
            right: 0;

            height: 180px;
            width: 180px;

            background-color: #0090FF;
            box-shadow: 0 4px 8px 0 rgba(0, 144, 255, 0.3);
        }

        &.like {
            top: 65px;
            right: 40px;

            height: 110px;
            width: 110px;
            
            background-color: #FB5064;
            box-shadow: 0 4px 8px 0 rgba(251, 80, 100, 0.3);
        }

        &.unfollow {
            top: 0;
            right: 175px;
            
            height: 175px;
            width: 175px;
            
            background-color: #686EED;
            box-shadow: 0 4px 8px 0 rgba(104, 110, 237, 0.3);
        }

        &.follow {
            top: 200px;
            right: 205px;
            
            height: 145px;
            width: 145px;
            
            background-color: #51DC9F;
            box-shadow: 0 4px 8px 0 rgba(81, 220, 159, 0.3);
        }

        &.repost {
            top: 370px;
            right: 205px;
            
            height: 121px;
            width: 121px;
            
            background-color: #FC5B2A;
            box-shadow: 0 4px 8px 0 rgba(252, 91, 42, 0.3);
        }

        &.comment {
            top: 140px;
            right: 375px;
            
            height: 132px;
            width: 132px;
            
            background-color: #FAD10A;
            box-shadow: 0 4px 8px 0 rgba(250, 209, 10, 0.3);
        }
    }
}

@media screen and (min-width:991px){
    #modules {
        .module_list .module { @include transition(all ease 1s); }
        
        .module_list.inactive .module {
            opacity: .0;

            &.message {
                @include transform(translateX(7px) translateY(12px));
            }

            &.like {
                @include transform(translateX(4px) translateY(-7px));
            }

            &.unfollow {
                @include transform(translateX(0px) translateY(-10px));
            }

            &.follow {
                opacity: .8;
            }

            &.repost {
                @include transform(translateX(-4px) translateY(8px));
            }

            &.comment {
                @include transform(translateX(-12px) translateY(-3px));
            }
        }
    }
}

@media screen and (max-width:991px) {
    #modules {
        margin-top: 20px;
        margin-bottom: 40px;

        .details {
            width: auto;
            float: none;
            padding: 0;
            text-align: center;
            margin-bottom: 10px;

            .section-desc br { display: none; }
        }

        .module_list {
            position: static;

            width: auto;
            float: none;
            
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            
            .module {
                position: relative;
                top: auto;
                left: auto;
                bottom: auto;
                right: auto;

                border-radius: 4px;
                
                width: 110px;
                height: 110px;
                margin: 10px;
                
                .box_info {
                    i { font-size: 21px; }
                    p { font-size: 7px; }
                }
            }
        }
    }
}
