#quote {
    padding-bottom: 150px;

    .link_group {
        margin-top: 20px;    
    }

    .white-button {
        margin-right: 25px;
    }
}

@media screen and (max-width:991px) {
    #quote {
        padding-bottom: 60px;

        .section-desc br { display: none; }
        .white-button { display: none; }
    }
}
